// Multi range slider
.multi-range-slider {
    @apply relative;
    foo: bar;

    .slider {
        @apply relative w-full;

    }

    .slider__track,
    .slider__range {
        @apply absolute;
        foo: bar;
    }
    .slider__track,
    .slider__range {
        @apply rounded-[3px] h-[3px];
        foo: bar;
    }
    .slider__track {
        @apply bg-[#d5d5d5] w-full;
        foo: bar;
    }
    .slider__range {
        @apply bg-darkgray;
        foo: bar;
    }
  
    .thumb,
    .thumb::-webkit-slider-thumb {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
    }
    .thumb {
        @apply pointer-events-none absolute h-0 w-full outline-none;
        foo: bar;

        &::-webkit-slider-thumb {
            @apply bg-[#ffff] border-none rounded-[50%] cursor-pointer h-[13px] w-[13px] mt-1 relative;
            border:1px solid #bbb;
            pointer-events: all;
        }
        &::-moz-range-thumb {
            @apply bg-[#ffff] border-none rounded-[50%] cursor-pointer h-[13px] w-[14px] mt-1 relative;
            border:1px solid #bbb;
            pointer-events: all;
        }
    }
    .thumb--left {
        @apply z-10;
        foo: bar;
    }
    .thumb--right {
        @apply z-10;
        foo: bar;
    }
    .price-filter-details{
        @apply pt-[33px]; 
        foo: bar;

        .filter-value{
            @apply block font-sans text-base;
            foo: bar;
        }
        .btn-filter{
            @apply text-[10px] font-serif rounded-none;
            foo: bar;
        }
    }
}
